@model AR.EPAM.AuctionWebUI.Models.AuctionViewModels.CreateLotViewModel

@{
    ViewBag.Title = "CreateLot";
}


@using (Html.BeginForm("CreateLot", "Auction", FormMethod.Post, new { id = "createForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Creation of lot</h3>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartPrice)
                @Html.DropDownListFor(model => model.SelectedCurrency, new SelectList(Model.Currencies, 0))
                @Html.ValidationMessageFor(model => model.StartPrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DurationInDays, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DurationInDays)
                @Html.ValidationMessageFor(model => model.DurationInDays)
            </div>
        </div>

        @Html.Partial("_CategoryPartial", Model.CategoriesViewModel)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/categories")
    @*Opera can not download categories.js... Chrome can.*@

    @*<script type="text/javascript">
        $(function () {
            $("#MainCategories").click(function () {
                var value;

                $("#MainCategories :selected").each(function (i, selected) {
                    value = selected.text;
                });

                //debugger;

                var postData = { categoryName: value };
                $.ajax({
                    type: "POST",
                    url: '/auction/getcategories',
                    data: postData,
                    success: function (data) {
                        $("#SubCategories").children().remove();
                        for (var i = 0; i < data.length; i++) {
                            $("#SubCategories").append("<option value='" + data[i] + "'>" + data[i] + "</option>");
                        }
                    },
                    traditional: true
                });
            });
        })
    </script>*@
}
