@model AR.EPAM.AuctionWebUI.Models.LotViewModel

@{
    ViewBag.Title = "ViewLot";
}

<h2>ViewLot</h2>

<div>
    <h1>
        Owner of the lot @Html.ActionLink(@Model.Owner.UserName, "ProfilePage", "Membership", new { username = @Model.Owner.UserName }, null)
    </h1>
    <hr />
    <dl class="dl-horizontal">


        @Html.HiddenFor(model => model.Id)

        <dt>
            Name of the lot
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Start price for lot
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartPrice)
            @Html.DisplayFor(model => model.Currency.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentPrice)
            @Html.DisplayFor(model => model.Currency.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DurationInDays)
        </dt>

        <dd>
            @String.Format("Duration of the lot(in days) : {0}", Model.DurationInDays)
            <p></p>
            @String.Format("Hours to end : {0}", (int)(Model.CreateDate.AddDays(Model.DurationInDays) - DateTime.Now).TotalHours)
        </dd>

        <dt>
            Count of bids
        </dt>
        <dd>
            @Model.Bids.Count
        </dd>

        @{
            if (Model.Bids.Count != 0)
            {
                <dd>
                    Last bid was made by @Html.ActionLink(Model.Bids.OrderBy(e => e.Price).FirstOrDefault().User.UserName,
                                             "ProfilePage", "Membership", new { username = Model.Bids.OrderBy(e => e.Price).FirstOrDefault().User.UserName }, null)
                </dd>
            }
        }

    </dl>

    @using (Html.BeginForm("ViewLot", "Auction", FormMethod.Post, new { id = "bidForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <input id="bidEmail" name="bidEmail" type="hidden" value="@HttpContext.Current.User.Identity.Name" />
        <input id="lotId" name="lotId" type="hidden" value="@Model.Id" />

        @*<input id="bidValue" type="text" value="@Model.CurrentPrice" />*@
        @Html.EditorFor(model => model.BidValue)
        @Html.ValidationMessageFor(model => model.BidValue)

        <p id="text"></p>

        <input type="submit" value="Take a bid" class="btn btn-default" />
    }
</div>



<div id="commentDiv">
    @Html.Partial("_CommentPartial", Model.CommentViewModel)
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $("#bidForm").submit(function (event) {
                event.preventDefault();

                var value = parseFloat('@Model.CurrentPrice');
                var bidEmail = $("#bidEmail").val();
                var userEmail = "@Model.Owner.Email";
                if ($("#bidForm").validate().form()) {
                    if (parseFloat($("#BidValue").val()) > value) {
                        if (bidEmail != userEmail) {
                            alert("Success");
                            $.post("/auction/viewlot", { BidValue: $("#BidValue").val(), bidEmail: $("#bidEmail").val(), lotId: $("#lotId").val() }, function () {
                                window.location.href = '@Url.Action("ViewLot", "Auction", new {id = @Model.Id})';
                            });
                        } else {
                            alert("Bid to your lot? :)");
                        }
                    } else {
                        alert("Bad bid, bro!");
                    }
                }
            });

            $("#commentForm").on("submit", function (event) {
                event.preventDefault();
                if ($("#commentForm").validate().form()) {
                    $.post('@Url.Action("GetCommentPartial", "Auction")', $("#commentForm").serialize(), function (data) {
                        $("#commentDiv").html(data);
                        $("#Description").val("");
                    });
                }
            });
        });
    </script>
}