@using AR.EPAM.Core.Entities.Auction
@model AR.EPAM.AuctionWebUI.Models.MembershipViewModels.ProfileViewModel

@{
    ViewBag.Title = "ProfilePage";
}

<div>
    <h1>
        @Model.UserName profile!
    </h1>

    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dd>
            <h3>Lots of the user</h3>
            <p></p>
            @if (Model.Lots.Count != 0)
            {
                foreach (var lot in Model.Lots)
                {
                    @Html.ActionLink(lot.Name, "ViewLot", "Auction", new { id = lot.Id }, null)
                    <p></p>
                }
            }
            else
            {
                <h4>This user haven't got any lots.</h4>
            }
            <hr/>
            
            <h3>Lots which have bid of this user</h3>
            @if (Model.BiddedLots.Count != 0)
            {
                foreach (var biddedLot in Model.BiddedLots)
                {
                    @Html.ActionLink(biddedLot.Name, "ViewLot", "Auction", new { id = biddedLot.Id }, null)
                    <p></p>
                }
            }
            else
            {
                <h4>This user haven't got any bids.</h4>
            }
        </dd>

    </dl>
</div>
