@model AR.EPAM.AuctionWebUI.Models.MembershipViewModels.UserViewModel

@{
    ViewBag.Title = "UserPage";
}


@if (HttpContext.Current.User.IsInRole("Administrator"))
{
    <h1>
        You are administrator!
    </h1>
}

<h2> @Model.UserName page. Link to your profile - @Html.ActionLink("LINK", "ProfilePage", "Membership", new { username = Model.UserName }, null) </h2>

<h4>
    On the site from @Model.RegisterDate.ToShortDateString()
</h4>

@Html.ActionLink("Edit profile", "EditProfile", "Membership", new { username = @Model.UserName }, null)
<p></p>
@Html.ActionLink("Create lot", "CreateLot", "Auction")
<p></p>

<h1>
    Your own lots!
</h1>
@if (Model.Lots.Count != 0)
{
    foreach (var lot in Model.Lots)
    {
        @Html.ActionLink(lot.Name, "ViewLot", "Auction", new { id = lot.Id }, null)
        <p></p>
    }
}
else
{
    <h4>You haven't got lots.</h4>
}
