@model AR.EPAM.AuctionWebUI.Models.UserViewModel

@{
    ViewBag.Title = "UserPage";
}

<h1> @Model.UserName page </h1>

@Html.ActionLink("Edit profile", "EditProfile", "Membership", new { username = @Model.UserName }, null)
<p></p>
@Html.ActionLink("Create lot", "CreateLot", "Auction")
<p></p>

<h1>
    Your own lots!
</h1>
@foreach (var lot in Model.Lots)
{
    @Html.ActionLink(lot.Name, "ViewLot", "Auction", new { id = lot.Id }, null)
    <p></p>
}